openapi: 3.0.4

info:
  title: SPHERE API
  description: |
    # SPHERE - SaaS Pricing Holistic Evaluation and Regulation Environment

    SPHERE is a comprehensive platform designed to manage and regulate SaaS pricing models. This API allows you to programmatically interact with SPHERE's core functionalities, enabling seamless integration into your existing systems and workflows.

    The API enables you to:
    - **Save and manage multiple iPricings and their versions**
    - **Integrate with existing tooling in pricing-driven DevOps**
    - **Perform pricing intelligence analysis**

    ## Authentication

    SPHERE supports two authentication methods:

    1. **User Token** (used by the SPHERE frontend):
       - Obtained via `POST /users/login` with username/email and password
       - Include it in `Authorization` header as `Bearer <token>` to authenticate requests
       - Tokens expire after 24h

    2. **API Key** (recommended for programmatic access):
       - Can be created and managed via the SPHERE UI
       - Include them in `x-api-key` header to authenticate requests
       - Can have scoped permissions per organization

    ---

    ## Permission System Overview

    SPHERE implements a **three-layer permission system** that provides granular access control:

    ### 1. User Roles (Global Level)

    Determines what a user can do across the entire platform:

    | Role   | Description |
    |--------|-------------|
    | **ADMIN** | Full platform access. Can perform any operation on any user or resource. Bypasses organization membership checks. |
    | **USER** | Standard user. Can only manage their own account, organizations they're members of, and resources within those organizations. |

    ### 2. Organization Roles (Within an Organization)

    Determines what a user can do within a specific organization. Organizations have a hierarchical structure where a parent organization can have child organizations.

    | Role | Permissions |
    |------|-------------|
    | **OWNER** | Full control: manage organization resources, members, invitations, settings, and delete the organization |
    | **ADMIN** | Everything an OWNER can do, but cannot delete the organization or downgrade OWNERs |
    | **MEMBER** | Read-only access to organization data and pricings |

    **Role Hierarchy Behavior:**
    - A user can have **different roles** in different organizations
    - Example: User A is MEMBER in org1, ADMIN in org2 (a child of org1), and has no access to org3

    ### 3. API Key Scopes

    API Keys can be created with limited permissions, even if the user has higher permissions in the organization. This is useful for integrating external tools with restricted access.

    | Scope | Effect |
    |-------|--------|
    | **ALL** | Full access to organization - same as user's actual org role. Also grants access to **children organizations** in the hierarchy. |
    | **MANAGEMENT** | Can perform management operations. Effective role is ADMIN for users with OWNER/ADMIN role, otherwise their actual role. This permission **does not extend to child organizations**. |
    | **VIEW** | Read-only access. Effective role is always MEMBER regardless of actual org role. This permission **does not extend to child organizations** |

    **Scope Intersection Example:**
    - User has OWNER role in org1; and org1 have two children: org2 and org3 (given that user is OWNER, they also have OWNER permissions in org2 and org3)
    - User creates API Key with VIEW scope for org1
    - When using the API Key, the effective role becomes MEMBER (read-only) and can **only operate over org1**.

    ---

    ## Authentication Flow

    1. Request arrives with either `Authorization: Bearer <token>` or `x-api-key: <key>`. 

        - **NOTE:** if token access is provided, the API key is ignored and the user token is used for authentication and permission checks.
        
    2. AuthMiddleware authenticates and populates `req.user`
    3. If accessing organization-scoped resources, `populateOrganizationContext` resolves:
       - The organization from the URL path
       - The user's actual role within that organization
       - For API Keys: the scope-limited effective role
    4. Permission check validates both user role AND org role (if required)

  contact:
    email: agarcia29@us.es
    name: SPHERE Support
  version: 2.0.0
  license:
    name: MIT License
    url: https://opensource.org/licenses/MIT

externalDocs:
  description: "SPHERE: SaaS Pricing Holistic Evaluation and Regulation Environment"
  url: https://sphere.score.us.es/

servers:
  - url: 'https://sphere.score.us.es/api/v1'
    description: Production
  - url: 'http://localhost:3000/api/v1'
    description: Development (local)

tags:
  - name: Healthcheck
    description: Service health verification (Public)
  - name: Authentication
    description: User authentication and API key management
  - name: Users
    description: User account management
  - name: Organizations
    description: |
      Organization, invitations and membership management
  - name: Pricings
    description: Pricing Version Control System (PVCS)
  - name: Collections
    description: Collection management for grouping pricings
  - name: User Access
    description: Retrieve pricings and collections a user can access
  - name: Permissions
    description: Retrieve permission information for entities
  - name: Notifications
    description: User notifications and real-time updates
  - name: Cache
    description: Redis cache operations for temporary data storage

paths:
  /healthcheck:
    get:
      summary: Service health check
      description: |
        Verifies that the SPACE API service is operational and responsive. 
        Use this endpoint for load balancer health checks.

        **Authentication**: Public (no API key required)

      tags:
        - Healthcheck
      responses:
        '200':
          description: Service is operational
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: Service is up and running!

  /users/login:
    post:
      summary: Authenticate user and obtain API Key
      description: |
        Authenticates a user with username/email and password and returns a User token 
        that can be used for subsequent authenticated requests.

        **Authentication**: Public
        
        **Returns**: User's token

      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: User credentials
              properties:
                loginField:
                  $ref: '#/components/schemas/LoginField'
                password:
                  $ref: '#/components/schemas/Password'
              required:
                - loginField
                - password
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    $ref: '#/components/schemas/ApiToken'
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: Invalid credentials

  /users/register:
    post:
      summary: Register a new user
      description: |
        Registers a new user account with the provided username, email and password.

        **Authentication**: Public

      tags:
        - Authentication
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/UserRegister'
      responses:
        '201':
          description: User registered successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    $ref: '#/components/schemas/User'
                  token:
                    type: string
                    description: JWT authentication token
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users:
    get:
      summary: Get all users or search users
      description: |
        Retrieves a paginated list of users. Supports two access modes:

        **1. ADMIN mode (no `q` parameter):**
        Returns all users with full details. Only accessible to ADMIN users.

        **2. Search mode (`q` parameter with 4+ characters):**
        Searches users by username, firstName, or lastName (case-insensitive partial match).
        Accessible to any authenticated user (ADMIN or USER).
        When using search mode, sensitive fields (email, role, phone, token, apiKeys) are excluded from the response.

        **Authentication**: User token

        **Permission**:
        - ADMIN: full access to all users (with or without `q`)
        - USER: only accessible with `q` parameter (4+ characters)
      
      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - name: q
          in: query
          required: false
          schema:
            type: string
            minLength: 4
          description: |
            Search query to find users by username, firstName, or lastName.
            Must be at least 4 characters long. When provided, any authenticated user can access this endpoint.
            Sensitive fields are excluded from the response for non-ADMIN users.
        - $ref: '#/components/parameters/UsernameQuery'
        - $ref: '#/components/parameters/Email'
        - $ref: '#/components/parameters/Role'
        - $ref: '#/components/parameters/SortByUsers'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Operation Completed
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/User'
                    description: Full user list (ADMIN only, no q parameter)
                  - type: array
                    items:
                      $ref: '#/components/schemas/PublicUser'
                    description: Search results (with q parameter, sensitive fields excluded)
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions (USER without q parameter, or q < 4 chars)
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me:
    get:
      summary: Get current user details
      description: |
        Retrieves detailed information about the currently authenticated user.

        **Authentication**: User token

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Operation Completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '401':
          description: Authentication required
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/orgs:
    get:
      summary: Get current user's organizations
      description: |
        Retrieves organizations the currently authenticated user is a member of.
        Returns a tree-structured list where each top-level organization includes its
        sub-organizations nested under the `subOrganizations` field. Each item also
        includes the user's `role` in that organization.

        Supports optional pagination via `limit` and `offset` query parameters.
        When pagination params are provided, the response is wrapped in an object
        with `items` and `total` fields. When omitted, returns a flat array for
        backward compatibility.

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER) can access this endpoint.

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 10
          description: Maximum number of top-level organizations to return
        - name: offset
          in: query
          required: false
          schema:
            type: integer
            minimum: 0
            default: 0
          description: Number of top-level organizations to skip
      responses:
        '200':
          description: List of organizations the user belongs to (tree-structured)
          content:
            application/json:
              schema:
                oneOf:
                  - type: array
                    items:
                      $ref: '#/components/schemas/UserOrganization'
                    description: Plain array when no pagination params are provided
                  - $ref: '#/components/schemas/PaginatedUserOrganizations'
        '401':
          description: Authentication required — no valid token or API key provided
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/settings:
    get:
      summary: Get current user's settings
      description: |
        Retrieves the full settings for the currently authenticated user, including
        profile, social links, notification preferences, and avatar configuration.
        Sensitive fields (password, token, API keys) are excluded.

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER).

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: User settings retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          description: Authentication required
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update current user's account settings
      description: |
        Updates the account-level settings for the currently authenticated user.
        Only provided fields are updated (partial update).

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER).

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  format: email
                firstName:
                  type: string
                lastName:
                  type: string
                phone:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Settings updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          description: Authentication required
        '422':
          description: Validation error (e.g. email already in use)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/settings/profile:
    put:
      summary: Update current user's public profile
      description: |
        Updates the public profile fields for the currently authenticated user.
        These fields control how the user appears to other users on the platform.

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER).

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                displayName:
                  type: string
                  nullable: true
                  description: Public display name (overrides real name in rankings)
                bio:
                  type: string
                  nullable: true
                  maxLength: 200
                city:
                  type: string
                  nullable: true
                country:
                  type: string
                  nullable: true
                dateOfBirth:
                  type: string
                  format: date
                  nullable: true
      responses:
        '200':
          description: Profile updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          description: Authentication required
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/settings/social-links:
    put:
      summary: Update current user's social links
      description: |
        Updates the social media links for the currently authenticated user.
        URLs are validated against platform-specific patterns.

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER).

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                linkedin:
                  type: string
                  format: uri
                  nullable: true
                instagram:
                  type: string
                  format: uri
                  nullable: true
                facebook:
                  type: string
                  format: uri
                  nullable: true
                x:
                  type: string
                  format: uri
                  nullable: true
      responses:
        '200':
          description: Social links updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          description: Authentication required
        '422':
          description: Invalid URL for a social platform
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/settings/notifications:
    put:
      summary: Update current user's notification preferences
      description: |
        Updates the notification preferences for the currently authenticated user.
        Controls which notification types are received via which channels.

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER).

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: Map of notification kind to channel preferences
              additionalProperties:
                type: object
                properties:
                  email:
                    type: boolean
                  inbox:
                    type: boolean
              example:
                OrganizationInvitation: { email: true, inbox: true }
                System: { email: true, inbox: false }
                CollectionShared: { email: false, inbox: true }
                PricingUpdated: { email: false, inbox: false }
      responses:
        '200':
          description: Notification preferences updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          description: Authentication required
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/settings/avatar:
    post:
      summary: Upload avatar image
      description: |
        Uploads a new avatar image for the currently authenticated user.
        Accepts JPEG, PNG, and WebP formats. Maximum file size is 2MB.
        The image is saved to disk and the avatar path is updated.

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER).

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                avatar:
                  type: string
                  format: binary
                  description: Image file (JPEG, PNG, or WebP, max 2MB)
                avatarBgColor:
                  type: string
                  description: Background color for avatar (hex)
                  example: "#fa520f"
                avatarFgColor:
                  type: string
                  description: Foreground/text color for avatar (hex)
                  example: "#ffffff"
      responses:
        '200':
          description: Avatar uploaded successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  avatar:
                    type: string
                    description: URL path to the uploaded avatar
        '400':
          description: No file uploaded or invalid file type/size
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '401':
          description: Authentication required
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Remove avatar (revert to initials)
      description: |
        Removes the current user's custom avatar, reverting to the initials-based
        default display.

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER).

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Avatar removed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          description: Authentication required
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/me/settings/avatar-colors:
    put:
      summary: Update avatar colors (for initials/SVG mode)
      description: |
        Updates the avatar display with custom colors. Used for initials-based
        avatars or SVG avatars to set background and foreground colors.

        **Authentication**: User token

        **Permission**: Any authenticated user (ADMIN or USER).

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - avatarBgColor
                - avatarFgColor
              properties:
                avatarPath:
                  type: string
                  description: Path to the avatar file (for SVG avatars)
                avatarBgColor:
                  type: string
                  description: Background color (hex)
                  example: "#fa520f"
                avatarFgColor:
                  type: string
                  description: Foreground/text color (hex)
                  example: "#ffffff"
      responses:
        '200':
          description: Avatar colors updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserSettings'
        '401':
          description: Authentication required
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # /users/{username}/settings:
  #   get:
  #     summary: Get user settings by username (ADMIN only)
  #     description: |
  #       Retrieves the full settings for a specific user by username.
  #       Sensitive fields (password, token, API keys) are excluded.

  #       **Authentication**: User token with ADMIN role

  #       **Permission**: Only ADMIN users can access other users' settings.

  #     tags:
  #       - Users
  #     security:
  #       - ApiKeyAuth: []
  #     parameters:
  #       - $ref: '#/components/parameters/Username'
  #     responses:
  #       '200':
  #         description: User settings retrieved successfully
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/UserSettings'
  #       '401':
  #         description: Authentication required
  #       '403':
  #         description: Insufficient permissions (requires ADMIN)
  #       '404':
  #         description: User not found
  #       default:
  #         description: Unexpected error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'

  #   put:
  #     summary: Update user account settings by username (ADMIN only)
  #     description: |
  #       Updates account-level settings for a specific user by username.

  #       **Authentication**: User token with ADMIN role

  #       **Permission**: Only ADMIN users can update other users' settings.

  #     tags:
  #       - Users
  #     security:
  #       - ApiKeyAuth: []
  #     parameters:
  #       - $ref: '#/components/parameters/Username'
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             properties:
  #               email:
  #                 type: string
  #                 format: email
  #               firstName:
  #                 type: string
  #               lastName:
  #                 type: string
  #               phone:
  #                 type: string
  #                 nullable: true
  #     responses:
  #       '200':
  #         description: Settings updated successfully
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/UserSettings'
  #       '401':
  #         description: Authentication required
  #       '403':
  #         description: Insufficient permissions (requires ADMIN)
  #       '404':
  #         description: User not found
  #       '422':
  #         description: Validation error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'
  #       default:
  #         description: Unexpected error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'

  # /users/{username}/settings/profile:
  #   put:
  #     summary: Update user profile by username (ADMIN only)
  #     description: |
  #       Updates the public profile for a specific user by username.

  #       **Authentication**: User token with ADMIN role

  #       **Permission**: Only ADMIN users.

  #     tags:
  #       - Users
  #     security:
  #       - ApiKeyAuth: []
  #     parameters:
  #       - $ref: '#/components/parameters/Username'
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             properties:
  #               displayName:
  #                 type: string
  #                 nullable: true
  #               bio:
  #                 type: string
  #                 nullable: true
  #                 maxLength: 200
  #               city:
  #                 type: string
  #                 nullable: true
  #               country:
  #                 type: string
  #                 nullable: true
  #               dateOfBirth:
  #                 type: string
  #                 format: date
  #                 nullable: true
  #     responses:
  #       '200':
  #         description: Profile updated successfully
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/UserSettings'
  #       '401':
  #         description: Authentication required
  #       '403':
  #         description: Insufficient permissions (requires ADMIN)
  #       '404':
  #         description: User not found
  #       default:
  #         description: Unexpected error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'

  # /users/{username}/settings/social-links:
  #   put:
  #     summary: Update user social links by username (ADMIN only)
  #     description: |
  #       Updates social media links for a specific user by username.

  #       **Authentication**: User token with ADMIN role

  #       **Permission**: Only ADMIN users.

  #     tags:
  #       - Users
  #     security:
  #       - ApiKeyAuth: []
  #     parameters:
  #       - $ref: '#/components/parameters/Username'
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             properties:
  #               linkedin:
  #                 type: string
  #                 format: uri
  #                 nullable: true
  #               instagram:
  #                 type: string
  #                 format: uri
  #                 nullable: true
  #               facebook:
  #                 type: string
  #                 format: uri
  #                 nullable: true
  #               x:
  #                 type: string
  #                 format: uri
  #                 nullable: true
  #     responses:
  #       '200':
  #         description: Social links updated successfully
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/UserSettings'
  #       '401':
  #         description: Authentication required
  #       '403':
  #         description: Insufficient permissions (requires ADMIN)
  #       '404':
  #         description: User not found
  #       '422':
  #         description: Invalid URL
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'
  #       default:
  #         description: Unexpected error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'

  # /users/{username}/settings/notifications:
  #   put:
  #     summary: Update user notification preferences by username (ADMIN only)
  #     description: |
  #       Updates notification preferences for a specific user by username.

  #       **Authentication**: User token with ADMIN role

  #       **Permission**: Only ADMIN users.

  #     tags:
  #       - Users
  #     security:
  #       - ApiKeyAuth: []
  #     parameters:
  #       - $ref: '#/components/parameters/Username'
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             additionalProperties:
  #               type: object
  #               properties:
  #                 email:
  #                   type: boolean
  #                 inbox:
  #                   type: boolean
  #     responses:
  #       '200':
  #         description: Notification preferences updated successfully
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/UserSettings'
  #       '401':
  #         description: Authentication required
  #       '403':
  #         description: Insufficient permissions (requires ADMIN)
  #       '404':
  #         description: User not found
  #       default:
  #         description: Unexpected error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'

  # /users/{username}/settings/avatar:
  #   post:
  #     summary: Upload avatar for a user (ADMIN only)
  #     description: |
  #       Uploads a new avatar image for a specific user by username.

  #       **Authentication**: User token with ADMIN role

  #       **Permission**: Only ADMIN users.

  #     tags:
  #       - Users
  #     security:
  #       - ApiKeyAuth: []
  #     parameters:
  #       - $ref: '#/components/parameters/Username'
  #     requestBody:
  #       required: true
  #       content:
  #         multipart/form-data:
  #           schema:
  #             type: object
  #             properties:
  #               avatar:
  #                 type: string
  #                 format: binary
  #               avatarBgColor:
  #                 type: string
  #               avatarFgColor:
  #                 type: string
  #     responses:
  #       '200':
  #         description: Avatar uploaded successfully
  #         content:
  #           application/json:
  #             schema:
  #               type: object
  #               properties:
  #                 avatar:
  #                   type: string
  #       '400':
  #         description: Invalid file
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'
  #       '401':
  #         description: Authentication required
  #       '403':
  #         description: Insufficient permissions (requires ADMIN)
  #       '404':
  #         description: User not found
  #       default:
  #         description: Unexpected error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'

  #   delete:
  #     summary: Remove avatar for a user (ADMIN only)
  #     description: |
  #       Removes the avatar for a specific user by username.

  #       **Authentication**: User token with ADMIN role

  #       **Permission**: Only ADMIN users.

  #     tags:
  #       - Users
  #     security:
  #       - ApiKeyAuth: []
  #     parameters:
  #       - $ref: '#/components/parameters/Username'
  #     responses:
  #       '200':
  #         description: Avatar removed successfully
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/UserSettings'
  #       '401':
  #         description: Authentication required
  #       '403':
  #         description: Insufficient permissions (requires ADMIN)
  #       '404':
  #         description: User not found
  #       default:
  #         description: Unexpected error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'

  # /users/{username}/settings/avatar-colors:
  #   put:
  #     summary: Update avatar colors for a user (ADMIN only)
  #     description: |
  #       Updates avatar colors for a specific user by username.

  #       **Authentication**: User token with ADMIN role

  #       **Permission**: Only ADMIN users.

  #     tags:
  #       - Users
  #     security:
  #       - ApiKeyAuth: []
  #     parameters:
  #       - $ref: '#/components/parameters/Username'
  #     requestBody:
  #       required: true
  #       content:
  #         application/json:
  #           schema:
  #             type: object
  #             required:
  #               - avatarBgColor
  #               - avatarFgColor
  #             properties:
  #               avatarPath:
  #                 type: string
  #               avatarBgColor:
  #                 type: string
  #               avatarFgColor:
  #                 type: string
  #     responses:
  #       '200':
  #         description: Avatar colors updated successfully
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/UserSettings'
  #       '401':
  #         description: Authentication required
  #       '403':
  #         description: Insufficient permissions (requires ADMIN)
  #       '404':
  #         description: User not found
  #       default:
  #         description: Unexpected error
  #         content:
  #           application/json:
  #             schema:
  #               $ref: '#/components/schemas/Error'

  /users/{username}:
    get:
      summary: Get user details by username
      description: |
        Retrieves detailed information about the user associated with the provided username.

        **IMPORTANT:** If you retrieve information about a user other than yourself, you will only be able to see public information UNLESS you have ADMIN privileges.

        **Authentication**: User token

        **Permission**: Any authenticated user can access their own details using this endpoint, regardless of role. This is the recommended endpoint for users to retrieve their own information without needing ADMIN privileges.

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: Operation Completed
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/PublicUser'
                  - $ref: '#/components/schemas/User'
        '401':
          description: Authentication required
        '404':
          description: User not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update user
      description: |
        Updates a user's information.

        **Authentication**: User API Key

        **Permission**: 
        - USER: can update ONLY their own account data.
        - ADMIN: can update ANY user data.

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/UserUpdate'
      responses:
        '200':
          description: Operation Completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
        '403':
          description: Insufficient permissions
        '404':
          description: User not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete user
      description: |
        Deletes a user account.

        **Authentication**: User API Key

        **Permission**: Only ADMIN users can delete other accounts

        **Cascading Actions**:
        - User's token is invalidated

        **Constraints**:
        - Cannot delete the last ADMIN user in the system

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
      responses:
        '204':
          description: User deleted
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions
        '404':
          description: User not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{username}/pricings:
    get:
      summary: Get pricings accessible to the current user
      description: |
        Returns all pricings the currently authenticated user has access to across all
        their organizations. The response includes permission-filtered pricings with
        organization and collection data. This is a convenience endpoint equivalent to
        `GET /users/{userId}/pricings` with `userId=me`.

        **Authentication**: User token

        **Permission**:
        - Any authenticated user (ADMIN or USER) can access this endpoint.
        - Results are scoped to the user's organizations.
        - **ADMIN** (global): Can see all pricings (PUBLIC and PRIVATE) in any organization.
        - **OWNER / ADMIN** of an organization: Can see all pricings in that organization.
        - **MEMBER**: Can see PUBLIC pricings, plus PRIVATE pricings for which they have
          an explicit `GET` permission (either directly on the pricing or via a collection
          they have `GET` access to).

        **Supported Filters**: `name`, `sortBy`, `sort`, `min-subscription`,
        `max-subscription`, `min-minPrice`, `max-minPrice`, `min-maxPrice`, `max-maxPrice`,
        `selectedOrganizations`, `collection`.

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Name'
        - $ref: '#/components/parameters/SortByPricings'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/MinSubscription'
        - $ref: '#/components/parameters/MaxSubscription'
        - $ref: '#/components/parameters/MinMinPrice'
        - $ref: '#/components/parameters/MaxMinPrice'
        - $ref: '#/components/parameters/MinMaxPrice'
        - $ref: '#/components/parameters/MaxMaxPrice'
        - $ref: '#/components/parameters/SelectedOwners'
        - name: collection
          in: query
          required: false
          description: Filter pricings by collection slug (URL-friendly identifier)
          schema:
            type: string
            example: "ieee-tsc-2025"
        - $ref: '#/components/parameters/ExcludePricingsInCollection'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Paginated list of pricings the user has access to, with filter statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of pricings matching the filter (before pagination)
                  minPrice:
                    $ref: '#/components/schemas/MetricHistogram'
                  maxPrice:
                    $ref: '#/components/schemas/MetricHistogram'
                  configurationSpaceSize:
                    $ref: '#/components/schemas/MetricHistogram'
                  pricings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pricing'
        '401':
          description: Authentication required — no valid token or API key provided
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{username}/collections:
    get:
      summary: Get collections accessible to the current user
      description: |
        Returns all collections the authenticated user can access across all
        their organizations, applying permission checks.

        The `{username}` path parameter accepts the reserved value `me` to
        refer to the currently authenticated user.

        **Authentication**: User token

        **Permission**:
        - Any authenticated user (ADMIN or USER) can access this endpoint.
        - Non-ADMIN users can only query their own collections (`{username}` must match their username or be `me`).
        - Results are scoped to collections the user can access according to role and entity permissions.

        **Supported Filters**: `name`, `organizationIds`, `sortBy`, `sort`.

        The `organizationIds` query parameter accepts a comma-separated list of
        organization IDs. For non-admin users, only organization IDs the user
        belongs to are considered; IDs of organizations the user is not a member
        of are silently ignored. For global admins, the filter is applied as
        provided. When omitted, collections from all accessible organizations are
        returned.

      tags:
        - User Access
      security:
        - ApiKeyAuth: []
      parameters:
        - name: username
          in: path
          required: true
          description: Username to query, or the reserved value `me` for the authenticated user
          schema:
            type: string
            example: me
        - $ref: '#/components/parameters/Name'
        - $ref: '#/components/parameters/OrganizationIds'
        - $ref: '#/components/parameters/SortByCollections'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - name: writableOnly
          in: query
          required: false
          description: When set to `true`, only returns collections where the user has both GET and PUT permissions (useful for "add pricing to collection" workflows)
          schema:
            type: boolean
            default: false
      responses:
        '200':
          description: Paginated list of collections the user has access to
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of collections matching the filter (before pagination)
                  collections:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        name:
                          type: string
                        slug:
                          type: string
                        numberOfPricings:
                          type: number
                        organization:
                          type: object
                          properties:
                            id:
                              type: string
                            name:
                              type: string
                            displayName:
                              type: string
                            avatar:
                              type: string
                              nullable: true
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: Insufficient permissions (non-ADMIN querying another user's collections)
        '404':
          description: User not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /users/{username}/refresh-token:
    put:
      summary: Regenerate user's token
      description: |
        Generates a new User API Token for the specified user. This immediately invalidates 
        any previous API token for that user.

        **Authentication**: ADMIN Role

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: API Token regenerated
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    $ref: '#/components/schemas/ApiToken'
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions
        '404':
          description: User not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  # ============================================
  # API Keys Management
  # ============================================

  /users/{username}/api-keys:
    get:
      summary: List API keys for a user
      description: |
        Retrieves all API keys for the specified user. The key values are truncated
        for security (only last 6 characters visible).

        **Authentication**: User token

        **Permission**: Users can only view their own API keys. ADMIN users can
        view any user's API keys.

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKeySummary'
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions (can only view own API keys)
        '404':
          description: User not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create a new API key
      description: |
        Creates a new API key for the specified user. The full key is returned
        only once in the response — it cannot be retrieved later.

        **Authentication**: User token

        **Permission**: Users can only create API keys for themselves. ADMIN users
        can create API keys for any user.

        **Security**: The key value is hashed with SHA-256 before storage.
        The plain key is only returned in the creation response.

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateApiKeyRequest'
      responses:
        '201':
          description: API key created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateApiKeyResponse'
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions (can only create own API keys)
        '404':
          description: User not found
        '422':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{username}/api-keys/{keyId}:
    delete:
      summary: Delete an API key
      description: |
        Permanently deletes an API key. This action cannot be undone.

        **Authentication**: User token

        **Permission**: Users can only delete their own API keys. ADMIN users
        can delete any user's API keys.

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
        - name: keyId
          in: path
          required: true
          schema:
            type: string
          description: ID of the API key to delete
      responses:
        '204':
          description: API key deleted successfully
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions (can only delete own API keys)
        '404':
          description: API key not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /users/{username}/api-keys/{keyId}/revoke:
    put:
      summary: Revoke an API key
      description: |
        Revokes an API key, making it invalid for authentication. The key
        remains in the database but cannot be used anymore.

        **Authentication**: User token

        **Permission**: Users can only revoke their own API keys. ADMIN users
        can revoke any user's API keys.

      tags:
        - Users
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Username'
        - name: keyId
          in: path
          required: true
          schema:
            type: string
          description: ID of the API key to revoke
      responses:
        '200':
          description: API key revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "API key revoked"
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions (can only revoke own API keys)
        '404':
          description: API key not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    # ============================================
  # Organization Management
  # ============================================

  /orgs:
    get:
      summary: Get all organizations
      description: |
        Retrieves a list of all organizations in the system, sorted by creation date (newest first).
        This is an administrative endpoint intended for platform-wide organization management.

        **Authentication**: User token

        **Permission**: Only global ADMIN users can access this endpoint. Regular USER
        roles will receive a 403 error.

        **Response**: Returns an array of organization objects. Each object includes the
        organization's `id`, `name`, `displayName`, `description`, `avatar`, `isPersonal`
        flag, and audit timestamps. Returns an empty array if no organizations exist.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: List of all organizations sorted by creation date (newest first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Organization'
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: Insufficient permissions — only global ADMIN users can list all organizations
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create a new organization
      description: |
        Creates a new organization. The authenticated user automatically becomes the
        **OWNER** of the newly created organization (an `OrganizationMembership` with
        role `OWNER` is created alongside the organization).

        **Authentication**: User token

        **Request Body**:
        - **`name`** (required unless `isPersonal` is `true`): A URL-safe unique identifier
          for the organization. Must be 3-50 characters, lowercase letters, digits, hyphens,
          and underscores only (`/^[a-z0-9_-]+$/`). The name must be unique across the
          platform — attempting to use a duplicate name will result in a 422 error.
        - **`displayName`** (required): A human-readable name for the organization (max 255 chars).
        - **`description`** (optional): A free-text description of the organization.
        - **`isPersonal`** (optional, default `false`): When set to `true`, the `name` field
          is automatically overridden with the authenticated user's username (lowercase).
          Personal organizations are special-purpose and cannot be deleted.
        - **`_parentId`** (optional): The ID of a parent organization. When provided, the new
          organization becomes a child of the specified parent. The `ancestors` array is
          automatically computed from the parent's ancestry chain. Users with membership in
          the parent organization automatically inherit role-based access to child organizations.

        **Cascading Actions**:
        - An `OrganizationMembership` record is created linking the authenticated user
          as the OWNER of the new organization.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/OrganizationCreate'
            example:
              name: "acme-corp"
              displayName: "Acme Corporation"
              description: "The leading provider of SaaS solutions"
              isPersonal: false
              _parentId: "68050bd09890322c57842f6f"
      responses:
        '201':
          description: Organization created successfully — the authenticated user is set as OWNER
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: Insufficient permissions
        '422':
          description: Validation failed — either request body validation errors (e.g. invalid name format, missing displayName) or a duplicate organization name
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/responses/UnprocessableEntity'
                  - $ref: '#/components/schemas/Error'
              examples:
                validationError:
                  summary: Field validation error
                  value:
                    errors:
                      - type: field
                        msg: "Name must be between 3 and 50 characters"
                        path: name
                        location: body
                duplicateName:
                  summary: Duplicate organization name
                  value:
                    error: "Organization with this name already exists"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orgs/invitations/preview/{code}:
    get:
      summary: Preview an organization invitation
      description: |
        Retrieves the organization details associated with an invitation code. This allows
        users to inspect the organization (name, display name, avatar) before deciding to
        accept the invitation. The invitation itself is also returned with its metadata
        (expiration, usage limits, current use count).

        **Authentication**: User token

        **Note**: This endpoint does **not** resolve an organization context from the URL path.
        Any authenticated user (ADMIN or USER) can preview an invitation using a valid code.

        **Invitation Validation** (checked in order):
        1. The invitation code must exist in the database
        2. The invitation must not have expired (`expiresAt` must be in the future or `null`)
        3. The invitation must not have reached its maximum number of uses (`useCount < maxUses`
           or `maxUses` is `null`)
        4. The associated organization must still exist

        If any of these checks fail, a **404** is returned with an appropriate error message
        (e.g. "Invitation expired", "Invitation has reached the maximum number of uses").

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/InvitationCode'
      responses:
        '200':
          description: Invitation preview data containing the invitation details and basic organization info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitationPreview'
        '401':
          description: Authentication required — no valid token or API key provided
        '404':
          description: |
            Invitation not found, expired, has reached max uses, or the associated
            organization no longer exists
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orgs/join/{code}:
    post:
      summary: Join an organization via invitation
      description: |
        Accepts an invitation code and adds the authenticated user to the corresponding
        organization. The user always joins with the **MEMBER** role (hardcoded, not
        configurable via this endpoint).

        **Authentication**: User token

        **Note**: This endpoint does **not** resolve an organization context from the URL path.
        Any authenticated user (ADMIN or USER) can join via an invitation code.

        **Process** (in order):
        1. Validates the invitation code (existence, expiry, max uses — same as the preview endpoint)
        2. Checks that the user is not already a member of the organization
        3. Creates an `OrganizationMembership` with role `MEMBER` and `joinedAt` set to the current timestamp
        4. Atomically increments the invitation's `useCount` by 1
        5. Returns the organization object

        **Constraints**:
        - User must not already be a member of the organization (returns **422** if they are)
        - Invitation must be valid (not expired, not at max uses, organization must exist)
        - The role assigned is always `MEMBER` — to change the role, an OWNER or ADMIN
          must use `PUT /orgs/{organizationId}/members/{userId}`

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/InvitationCode'
      responses:
        '200':
          description: Successfully joined the organization — returns the organization object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Authentication required — no valid token or API key provided
        '404':
          description: |
            Invitation not found, expired, has reached max uses, or the associated
            organization no longer exists
        '422':
          description: User is already a member of this organization
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                error: "User is already a member of this organization"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orgs/{organizationId}:
    get:
      summary: Get organization details
      description: |
        Retrieves detailed information about a specific organization by its ID.

        **Authentication**: Optional (public endpoint)

        **Permission**:
        - **Unauthenticated**: Can access any organization.
        - **USER**: Can access any organization.
        - **ADMIN** (global): Can access any organization.

        This endpoint supports public access so that non-members and unauthenticated
        users can view organization details (e.g., for the public organization profile page).

        **Response**: Returns the full organization object including `id`, `name`,
        `displayName`, `description`, `avatar`, `isPersonal`, and timestamps.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Organization details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '404':
          description: Organization not found — no organization exists with the given ID
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update organization metadata
      description: |
        Updates the mutable metadata of an organization. Only `displayName`, `description`,
        and `avatar` can be modified. The organization `name` field **cannot be changed**
        after creation.

        **Authentication**: User token

        **Permission**:
        - **ADMIN** (global): Can update any organization.
        - **USER**: Must have the `OWNER` or `ADMIN` role within the organization.
          Regular `MEMBER` roles will receive a 403 error.

        **Request Body** (all optional, but at least one field should be provided):
        - `displayName`: Updated human-readable name (max 255 chars)
        - `description`: Updated description (can be `null` to clear)
        - `avatar`: Updated avatar (can be `null` to clear)

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/OrganizationUpdate'
      responses:
        '200':
          description: Organization updated successfully — returns the updated organization object
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: |
            Insufficient permissions — the user must have OWNER or ADMIN role within
            the organization (or be a global ADMIN)
        '404':
          description: Organization not found — no organization exists with the given ID
        '422':
          description: Validation failed — e.g. invalid `avatarUrl` format
          content:
            application/json:
              schema:
                $ref: '#/components/responses/UnprocessableEntity'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Delete an organization
      description: |
        Permanently deletes an organization along with all associated data. This is a
        destructive, irreversible operation.

        **Authentication**: User token

        **Permission**:
        - **ADMIN** (global): Can delete any non-personal organization.
        - **USER**: Must have the `OWNER` or `ADMIN` role within the organization.

        **Constraints**:
        - **Personal organizations cannot be deleted.** If the organization's `isPersonal`
          flag is `true`, the request will be rejected with a 403 error.

        **Cascading Actions** (executed in order):
        1. All `OrganizationMembership` records for this organization are deleted
           (all members are removed)
        2. All `OrganizationInvitation` records for this organization are deleted
           (all pending invitations are revoked)
        3. The organization document itself is deleted

        **Warning**: This action removes all members and invitations permanently.
        Pricings and collections owned by the organization are **not** affected.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: Organization deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Successfully deleted."
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: |
            Insufficient permissions or personal organization — either the user lacks
            OWNER/ADMIN role, or the organization is a personal organization (which
            cannot be deleted)
        '404':
          description: Organization not found — no organization exists with the given ID
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orgs/{organizationId}/members:
    get:
      summary: List organization members
      description: |
        Retrieves a list of all members in an organization, including their roles, join
        dates, and basic user information. The response is enriched via a database
        aggregation pipeline that joins membership records with user data.

        **Authentication**: Optional (public endpoint)

        **Permission**:
        - **Unauthenticated**: Can view any organization's members.
        - **USER**: Can view any organization's members.
        - **ADMIN** (global): Can view any organization's members.

        This endpoint supports public access so that non-members and unauthenticated
        users can view the member list (e.g., for the public organization profile page).

        **Response**: Each item in the array contains:
        - `id`: The membership record ID
        - `role`: The member's role (`OWNER`, `ADMIN`, or `MEMBER`)
        - `joinedAt`: When the user joined the organization
        - `user`: Nested object with `id`, `username`, `email`, `avatar`, `avatarBgColor`, and `avatarFgColor` of the member

        Returns an empty array if the organization has no members (should not happen in
        practice, as the creator is always added as OWNER).

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: List of organization members with enriched user data
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationMember'
        '404':
          description: Organization not found — no organization exists with the given ID
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Add a member to the organization
      description: |
        Adds a user to the organization with a specified role. This is the administrative
        way to add members (as opposed to `POST /orgs/join/{code}` which is self-service
        via invitation codes and always assigns the `MEMBER` role).

        **Authentication**: User token

        **Permission**:
        - **ADMIN** (global): Can add members to any organization.
        - **USER**: Must have the `OWNER` or `ADMIN` role within the organization.

        **Request Body**:
        - `userId` (required): The MongoDB ObjectId of the user to add as a member.
        - `role` (required): The role to assign — one of `OWNER`, `ADMIN`, or `MEMBER`.

        **Constraints**:
        - The target user must not already be a member of the organization. If they are,
          the request returns **422** with an error message.
        - A unique compound index on `{ userId, organizationId }` also prevents duplicates
          at the database level.

        **Note**: Unlike `POST /orgs/join/{code}`, this endpoint allows assigning any role
        (not just `MEMBER`), making it suitable for administrative member management.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/AddMember'
            example:
              userId: "68050bd09890322c57842f71"
              role: "MEMBER"
      responses:
        '201':
          description: Member added successfully — returns the created membership record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
        '400':
          description: Invalid request body
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: |
            Insufficient permissions — the user must have OWNER or ADMIN role within
            the organization (or be a global ADMIN)
        '404':
          description: Organization not found — no organization exists with the given ID
        '422':
          description: |
            Validation failed — either request body validation errors (e.g. missing
            `userId` or `role`) or the target user is already a member of this organization
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/responses/UnprocessableEntity'
                  - $ref: '#/components/schemas/Error'
              examples:
                validationError:
                  summary: Field validation error
                  value:
                    errors:
                      - type: field
                        msg: "Role must be one of OWNER, ADMIN, MEMBER"
                        path: role
                        location: body
                alreadyMember:
                  summary: User already a member
                  value:
                    error: "User is already a member of this organization"
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orgs/{organizationId}/members/{userId}:
    put:
      summary: Update a member's role
      description: |
        Changes the role of an existing member within the organization. This can be used
        to promote a MEMBER to ADMIN, demote an ADMIN to MEMBER, or transfer ownership
        by assigning the OWNER role.

        **Authentication**: User token

        **Permission**:
        - **ADMIN** (global): Can update any member's role in any organization.
        - **USER**: Must have the `OWNER` or `ADMIN` role within the organization.

        **Request Body**:
        - `role` (required): The new role to assign — one of `OWNER`, `ADMIN`, or `MEMBER`.

        **Behavior**:
        - The system automatically recalculates an internal `_roleWeight` field
          (`OWNER: 3`, `ADMIN: 2`, `MEMBER: 1`) used for aggregation queries.
        - If the membership record does not exist (i.e., the user is not a member of the
          organization), the request returns **404**.

        **Constraints**:
        - The target user must already be a member of the organization.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/UserId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/UpdateMemberRole'
            example:
              role: "ADMIN"
      responses:
        '200':
          description: Member role updated successfully — returns the updated membership record
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationMember'
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: |
            Insufficient permissions — the user must have OWNER or ADMIN role within
            the organization (or be a global ADMIN)
        '404':
          description: |
            Organization or membership not found — either the organization does not exist
            or the target user is not a member of it
        '422':
          description: Validation failed — e.g. invalid or missing `role` value
          content:
            application/json:
              schema:
                $ref: '#/components/responses/UnprocessableEntity'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    delete:
      summary: Remove a member from the organization (or leave)
      description: |
        Removes a user from the organization by deleting their membership record. After
        removal, the user loses all access to the organization's resources.

        **Authentication**: User token

        **Permission**:
        - **Self-removal (leave)**: Any authenticated member can remove themselves from
          an organization by setting `userId` to their own user ID. This allows users to
          leave organizations they belong to.
        - **ADMIN** (global): Can remove any member from any organization.
        - **USER**: Must have the `OWNER` or `ADMIN` role within the organization to
          remove other members.

        **Constraints**:
        - The target user must be a member of the organization. If no membership record
          is found, the request returns **404**.
        - The last OWNER cannot be removed from the organization (even via self-removal).
          Ownership must be transferred before the OWNER can leave.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/UserId'
      responses:
        '200':
          description: Member removed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Successfully removed."
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: |
            Insufficient permissions — the user must have OWNER or ADMIN role within
            the organization (or be a global ADMIN)
        '404':
          description: |
            Organization or membership not found — either the organization does not exist
            or the target user is not a member of it
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orgs/{organizationId}/invitations:
    get:
      summary: List organization invitations
      description: |
        Retrieves all invitations for an organization, sorted by creation date (newest first).
        This includes both active and expired invitations, as well as invitations that have
        reached their maximum usage.

        **Authentication**: User token

        **Permission**:
        - **ADMIN** (global): Can list invitations for any organization.
        - **USER**: Must have the `OWNER` or `ADMIN` role within the organization.
          Regular `MEMBER` roles will receive a 403 error.

        **Response**: Returns an array of invitation objects. Each contains:
        - `id`: The invitation's unique identifier
        - `code`: The shareable invitation code (10-character hex string)
        - `createdBy`: The user ID of who created the invitation
        - `expiresAt`: Expiration timestamp (`null` if no expiration)
        - `maxUses`: Maximum allowed uses (`null` if unlimited)
        - `useCount`: How many times the invitation has been used
        - `createdAt` / `updatedAt`: Audit timestamps

        Returns an empty array if no invitations exist for the organization.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      responses:
        '200':
          description: List of organization invitations sorted by creation date (newest first)
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/OrganizationInvitation'
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: |
            Insufficient permissions — the user must have OWNER or ADMIN role within
            the organization (or be a global ADMIN)
        '404':
          description: Organization not found — no organization exists with the given ID
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    post:
      summary: Create an organization invitation
      description: |
        Creates a new invitation code for joining the organization. The generated code is a
        random 10-character hexadecimal string that can be shared with users to allow them
        to join the organization via `POST /orgs/join/{code}`.

        **Authentication**: User token

        **Permission**:
        - **ADMIN** (global): Can create invitations for any organization.
        - **USER**: Must have the `OWNER` or `ADMIN` role within the organization.

        **Request Body** (all optional):
        - `expiresInDays` (integer, default: `7`): Number of days until the invitation expires.
          The expiration is calculated from the current timestamp. Must be a positive integer.
        - `maxUses` (integer, default: `null`): Maximum number of times this invitation can
          be accepted. `null` or omitted means unlimited uses.

        **Response**: Returns the created invitation object including the generated `code`
        field. Share this code with users who should join the organization.

        **Note**: The invitation code is generated using `crypto.randomBytes(5).toString('hex')`
        and has a unique index in the database. While collisions are extremely unlikely, the
        system would return an error if one occurred.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/requestBodies/CreateInvitation'
            example:
              expiresInDays: 7
              maxUses: 10
      responses:
        '201':
          description: Invitation created successfully — returns the invitation object with the generated `code`
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrganizationInvitation'
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: |
            Insufficient permissions — the user must have OWNER or ADMIN role within
            the organization (or be a global ADMIN)
        '404':
          description: Organization not found — no organization exists with the given ID
        '422':
          description: Validation failed — e.g. invalid `expiresInDays` or `maxUses` values
          content:
            application/json:
              schema:
                $ref: '#/components/responses/UnprocessableEntity'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /orgs/{organizationId}/invitations/{invitationId}:
    delete:
      summary: Revoke an organization invitation
      description: |
        Revokes (deletes) an existing invitation. Once revoked, the invitation code can no
        longer be used to join the organization. Users who already joined via this invitation
        are **not** affected — their membership remains intact.

        **Authentication**: User token

        **Permission**:
        - **ADMIN** (global): Can revoke invitations for any organization.
        - **USER**: Must have the `OWNER` or `ADMIN` role within the organization.

        **Note**: The `organizationId` path parameter is used for organization context
        resolution (auth and permission checks), but the actual deletion targets the
        invitation by its own `invitationId`. The invitation is permanently removed from
        the database.

      tags:
        - Organizations
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/InvitationId'
      responses:
        '200':
          description: Invitation revoked successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Invitation revoked."
        '401':
          description: Authentication required — no valid token or API key provided
        '403':
          description: |
            Insufficient permissions — the user must have OWNER or ADMIN role within
            the organization (or be a global ADMIN)
        '404':
          description: Invitation not found — no invitation exists with the given ID
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'


  /pricings:
    get:
      summary: Get and filter pricings
      description: |
        Retrieves a paginated list of pricings that match the provided filter.

        **Authentication**: Public

        **Permission**:
        - UNAUTHENTICATED: can only see PUBLIC pricings.
        - USER: can only see PUBLIC pricings.
        - ADMIN: can see any pricing (PUBLIC or PRIVATE).

      tags:
        - Pricings
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Name'
        - $ref: '#/components/parameters/SortByPricings'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/MinSubscription'
        - $ref: '#/components/parameters/MaxSubscription'
        - $ref: '#/components/parameters/MinMinPrice'
        - $ref: '#/components/parameters/MaxMinPrice'
        - $ref: '#/components/parameters/MinMaxPrice'
        - $ref: '#/components/parameters/MaxMaxPrice'
        - $ref: '#/components/parameters/SelectedOwners'
        - name: collection
          in: query
          required: false
          description: Filter pricings by collection slug (URL-friendly identifier)
          schema:
            type: string
            example: "ieee-tsc-2025"
        - $ref: '#/components/parameters/ExcludePricingsInCollection'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Paginated list of pricings with filter statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of pricings matching the filter (before pagination)
                  minPrice:
                    $ref: '#/components/schemas/MetricHistogram'
                  maxPrice:
                    $ref: '#/components/schemas/MetricHistogram'
                  configurationSpaceSize:
                    $ref: '#/components/schemas/MetricHistogram'
                  pricings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pricing'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      summary: Update pricing version
      description: |
        Receives a plain text YAML file containing an iPricing in Pricing2Yaml and updates its syntaxVersion to the latest Pricign2Yaml syntax version. 
        
        **Authentication**: Public

      tags:
        - Pricings
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                pricing:
                  type: string
                  description: Plain text YAML content of the pricing definition to be updated
                  example: |-
                    saasName: Your SaaS Name
                    syntaxVersion: "3.0"
                    version: "latest"
                    createdAt: 2026-04-26
                    billing:
                      monthly: 1
                    currency: EUR
                    features:
                      feature1:
                        description: Feature 1 description
                        valueType: BOOLEAN
                        defaultValue: true
                        type: DOMAIN
                    usageLimits: null
                    plans:
                      BASIC:
                        description: Basic plan
                        price: 0.0
                        unit: user/month
                        features: null
                        usageLimits: null
                    addOns: null

      responses:
        '200':
          description: Pricing Updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: The total number of pricings matching the query
                  configurationSpaceSize:
                    $ref: '#/components/schemas/MetricHistogram'
                  minPrice:
                    $ref: '#/components/schemas/MetricHistogram'
                  maxPrice:
                    $ref: '#/components/schemas/MetricHistogram'
                  pricings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pricing'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pricings/{organizationId}:
    get:
      summary: Get pricings for an organization
      description: |
        Retrieves a paginated list of pricings belonging to the specified organization.
        Supports entity-level permission filtering for organization members.

        **Authentication**: Public

        **Permission**:
        - UNAUTHENTICATED: can only see PUBLIC pricings in the organization.
        - USER (not a member of the org): can only see PUBLIC pricings.
        - MEMBER: can see PUBLIC pricings, plus PRIVATE pricings for which they have
          an explicit `GET` permission (either directly on the pricing or via a collection
          they have `GET` access to).
        - OWNER / ADMIN of the org: can see all pricings (PUBLIC and PRIVATE).
        - Global ADMIN: can see all pricings (PUBLIC and PRIVATE) in any organization.

      tags:
        - Pricings
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/Name'
        - $ref: '#/components/parameters/SortByPricings'
        - $ref: '#/components/parameters/Sort'
        - $ref: '#/components/parameters/MinSubscription'
        - $ref: '#/components/parameters/MaxSubscription'
        - $ref: '#/components/parameters/MinMinPrice'
        - $ref: '#/components/parameters/MaxMinPrice'
        - $ref: '#/components/parameters/MinMaxPrice'
        - $ref: '#/components/parameters/MaxMaxPrice'
        - $ref: '#/components/parameters/CollectionQuery'
        - $ref: '#/components/parameters/ExcludePricingsInCollection'
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
      responses:
        '200':
          description: Paginated list of pricings for the organization with filter statistics
          content:
            application/json:
              schema:
                type: object
                properties:
                  total:
                    type: integer
                    description: Total number of pricings matching the filter (before pagination)
                  configurationSpaceSize:
                    $ref: '#/components/schemas/MetricHistogram'
                  minPrice:
                    $ref: '#/components/schemas/MetricHistogram'
                  maxPrice:
                    $ref: '#/components/schemas/MetricHistogram'
                  pricings:
                    type: array
                    items:
                      $ref: '#/components/schemas/Pricing'
        '403':
          description: Insufficient permissions
        '404':
          description: Organization not found
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
    post:
      summary: Create pricing for an organization.
      description: |
        Creates a new pricing under the specified organization.

        **Authentication**: Bearer Token or User API Key

        **Permission**: 
        - OWNER or ADMIN of the organization: can always create pricings.
        - MEMBER: requires the `CREATE` permission on the `pricing` entity type for the organization.
        - Global ADMIN: can create pricings for any organization.

      tags:
        - Pricings
      security:
        - BearerAuth: []
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                yaml:
                  type: string
                  format: binary
                  description: The Pricing2Yaml file
                private:
                  type: boolean
                  default: false
                  description: Whether the pricing should be private
                collectionId:
                  type: string
                  description: Optional collection ID to add the pricing to upon creation
                name:
                  type: string
                  maxLength: 255
                  description: Custom display name for the pricing. If provided, overrides the saasName field in the YAML file.
              required:
                - yaml
      responses:
        '200':
          description: Pricing Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Pricing'
        '401':
          description: Authentication required
        '403':
          description: Insufficient permissions (user is not a member of the organization, or lacks CREATE permission)
        '404':
          description: Organization not found
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /pricings/{organizationId}/{pricingSlug}:
    get:
      summary: Get public pricing details.
      description: |
        Retrieves a pricing by slug for a given user. If the user requesting is the owner of the pricing, they can then access private pricings. Otherwise, only public ones.

        **Authentication**: Public

        **Permission**: 
        - UNAUTHENTICATED: can only access PUBLIC pricings.
        - USER: can access their own pricings (PUBLIC, PRIVATE) and PUBLIC pricings of other users.
        - ADMIN: can access any user's pricings.

      tags:
        - Pricings
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/OrganizationId'
        - $ref: '#/components/parameters/PricingSlug'
        - $ref: '#/components/parameters/CollectionSlug'
      responses:
        '200':
          description: Operation Completed
          content:
            application/json:
[...]
